@model FoodManagementSystem.Entity.RestaurantFields

@{
    ViewBag.Title = "Index";
}

n kjhn
@*<table border="1">
    <tr>
        <td>
            RestaurantName
        </td>
        <td>
            RestaurantType
        </td>
        <td>
            Location
        </td>
    </tr>
    @foreach (FoodManagementSystem.Entity.RestaurantFields items in (List<FoodManagementSystem.Entity.RestaurantFields>)ViewData["restaurant"])
    {
        <tr>
            <td>
                @items.RestaurantName
            </td>
            <td>
                @items.RestaurantType
            </td>
            <td>
                @items.Location
            </td>
        </tr>
    }
</table>*@


