body {
}
.BackgroundImg {
    background-image: url(Images/pepperoni-pizza-on-wood-board.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    height: 60%;
    width: 100%;
}
.FormContent
{
    font-family:'Times New Roman', Times, serif;
    color:white;
}
.BtnStyle
{
    background:transparent;
    border-color:aqua;
    color:white;
    padding:7px;
    border-radius:7px;
}
a{
    /*text-decoration:none;*/
    color:lawngreen;
}
h2{
    color:orangered;
}
.Form{
    margin-left:10%;  
    font-size:2rem; 
}
.MasterPageLink {
    font-family: 'Times New Roman', Times, serif;
    color: green;
    font-size: 1.5rem;
    margin-right:2%;
    text-align: right;
}
.RestaurantContent{

    font-family:'Times New Roman', Times, serif;
    color:white;
} 
.AddRestaurantActionLink a{
    font-family:'Times New Roman', Times, serif;
    font-size:2rem;
}
.DisplayFoodContent{
    font-family:'Times New Roman', Times, serif;
    color:white;
}
.SignUpLink{
    color:orangered;
}