body {
    /*//color: greenyellow;*/
}
.BackgroundImg {
    background-image: url(Images/pepperoni-pizza-on-wood-board.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    height: 60%;
    width: 100%;
}
.FormContent
{
    font-family:'Times New Roman', Times, serif;
    font-size:2rem;
    color:white;
}
.BtnStyle
{
    background:transparent;
    border-color:aqua;
    color:white;
    padding:7px;
    font-size:medium;
    border-radius:10px;
}
a{
    /*text-decoration:none;*/
    color:lawngreen;
    
}
h2{
    color:orangered;
    font-size:2.1rem;
}
.Form{
    margin-left:10%;  
    font-size: 1.5rem;
}
.MasterPageLink {
    font-family: 'Times New Roman', Times, serif;
    color: green;
    font-size:2rem;
    margin-right:2%;
    text-align: right;
}
.RestaurantContent{
    font-size: 1.2rem;
    font-family:'Times New Roman', Times, serif;
    color:white;
} 
.AddReRestaurantContent{
    font-size: 1.5rem;
    font-family:'Times New Roman', Times, serif;
    color:white;
} 
.AddRestaurantActionLink a{
    font-family:'Times New Roman', Times, serif;
    font-size:2rem;
}
.DisplayFoodContent{
    font-size: 1.3rem;
    font-family:'Times New Roman', Times, serif;
    color:white;
}
.SignUpLink{
    color:orangered;
}

.link{
    color:black;
}
.rows {
    margin-right: 10px;
    margin-left: 10px;
}
h3 {
    color: #DCEEF8;
    text-align: left;
    font-family: lato;
    text-shadow: 1px 1px rgba(255,255,255,0.3);
}
